<div *ngIf="currentUser">
  <div class="profile-page">
    <h1>Edit Profile</h1>
    <div class="profile-page_update">
        <div class="profile-page-update-item update-name">
          <input type="text" title="name" [(ngModel)]="currentUser.firstName"/>
        </div>
        <button (click)="updateUser()">Update name</button>
    </div>
    <div class="profile-page_update-item">
        <div class="profile-page-update-item update-surname">
          <input type="text" title="surname" [(ngModel)]="currentUser.lastName"/>
        </div>
        <button (click)="updateUser()">Update surname</button>
    </div>
  </div>
</div>
