<div *ngIf="(users)">
  <ul>
    <li *ngFor="let user of users"> 
      <div class="dashboard-widgets">
          <div routerLink="/profile/{{user.id}}" class="dashboard-widgets_item">
            <h2>My Profile</h2>
            <div>First name: {{user.firstName}}</div>
            <div>Last name: {{user.lastName}}</div>
          </div>
          <div routerLink="/skills/{{user.id}}" class="dashboard-widgets_item">
            <h2>My Skills</h2>
            <div>Primary skill: {{user.skills.primarySkill}}</div>
            <div>Secondary skill: {{user.skills.secondarySkill}}</div>
          </div>
      </div>
    </li>
  </ul>
</div>
